* {box-sizing: border-box;
}
body {
 background-color: rgb(211, 205, 205);
}
.product {
 position: fixed;
  top: 55%;
  left: 50%;
  width: 991px;
  transform: translate(-50%, -50%);/*  */
  background-color: #fff;
  margin: 0px;
  padding: 64px 48px;
}
.product-img {
 display: inline-block;
 max-width: 100%;
 margin-right: 100px;
}
.product-info {
 display: inline-block;
 width: 400px;
 vertical-align: top;
 
}
.product-head {
 margin: 30px 0;
 font-size: 23px;
}
.product-desc {
 margin-bottom: 55px;
 font-size: 15px;
}
.price {
 margin-bottom: 23px;
}
.product-price {
 margin: 0 0 56px 0;
 font-size: 30px;
}

.btn {
 padding: 16px 39px;
 font-size: 19px;
 background-color: #ec744a;
 color: #fff;
 border: none;
}
@media screen and (min-width: 991px) and (max-width: 1024px){
 .product {
  position: fixed;
   top: 55%;
   left: 50%;
   width: 90%;
   transform: translate(-50%, -50%);/*  */
   background-color: #fff;
   margin: 0 auto;
   padding: 64px 48px;
 }
 .product-info {
  display: inline-block;
  width: 90%;
  vertical-align: top;
}
@media screen and (min-width: 200px) and (max-width: 990px){